* {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 630px;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url('../images/bg.jpg');
    background-size: 100% 100%;
}

.startBtn,
.reGame {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(223, 215, 215);
    background-color: rgb(59, 57, 61);
    cursor: pointer;
    z-index: 999;
}

.startBtn {
    left: 120px;
}

ul {
    list-style: none;
}

.choose {
    display: none;
    position: absolute;
    left: 100px;
    top: 200px;
    width: 100px;
    height: 200px;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}

.choose li {
    height: 40px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 40px;
    border-radius: 10px;
    color: rgb(223, 215, 215);
    background-color: rgb(59, 57, 61);
}

.mainer {
    display: none;
    width: auto;
    height: 630px;
}

.mines {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 400px;
    height: 50px;
    line-height: 50px;
    margin-left: -100px;
    font-size: 18px;
    font-weight: bolder;
    color: #333;
}

.number {
    margin-right: 50px;
}

.box {
    width: 500px;
    height: 500px;
    margin: 30px auto;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    transform: perspective(800px) rotateX(45deg);

}

.result {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
}

.resultShow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-size: 100% 100%;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-image: url('../images/shut.png');
    background-size: 100% 100%;
    cursor: pointer;
}

.block {
    float: left;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    background-image: url('../images/block.jpg');
    background-size: 100% 100%;
}

.show {
    background-image: url('../images/mine.jpg');
    background-size: 100% 100%;
}

.num {
    font-weight: bolder;
    text-align: center;
    background: rgb(228, 148, 201);
}

.flag {
    background-image: url('../images/flag.jpg');
    background-size: 100% 100%;
}